In [1]:
import pandas as pd
import numpy as np
from run import TimeExplorer

In [2]:
data = pd.read_csv('data/train.csv')

In [3]:
X_train = data.drop(['species', 'id'], axis=1)

In [4]:
X_train.head(1)

,margin1,margin2,margin3,margin4,margin5,margin6,margin7,margin8,margin9,margin10,...,texture55,texture56,texture57,texture58,texture59,texture60,texture61,texture62,texture63,texture64
0,0.007812,0.023438,0.023438,0.003906,0.011719,0.009766,0.027344,0.0,0.001953,0.033203,...,0.007812,0.0,0.00293,0.00293,0.035156,0.0,0.0,0.004883,0.0,0.025391

In [5]:
model = TimeExplorer()

In [6]:
dc = model.run(X_train)

In [8]:
dc.head()

,mean,std,diff_mean_increase,diff_mean_decrease,diff_max_increase,diff_max_decrease,diff_std,max_mountain,max_valley
0,0.010571,0.014837,0.011669,-0.013459,0.054688,-1.390000e-06,0.019517,0.095703,0.102540
1,0.010614,0.016799,0.011478,-0.013246,0.099607,-7.800000e-07,0.021973,0.158201,0.161130
2,0.010657,0.021925,0.013674,-0.016380,0.154300,-5.620000e-06,0.031203,0.159182,0.189451
3,0.010565,0.020091,0.012254,-0.014099,0.110348,-1.000000e-07,0.025850,0.207028,0.205075
4,0.010659,0.020454,0.011502,-0.015986,0.110350,-2.390000e-06,0.027089,0.167966,0.146482